<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.aichat.gh-webhook</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Users/zhb/.nvm/versions/node/v22.21.0/bin/smee</string>
		<string>--url</string>
		<string>https://smee.io/nPSzxKVUbG8ZR6</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>StandardOutPath</key>
	<string>/tmp/aichat-gh-events.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/aichat-gh-events.log</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/zhb/.nvm/versions/node/v22.21.0/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
</dict>
</plist>
